* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    color: #324A5F;
    min-height: 100vh;
    background-color: #eef2f7;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #C1A57B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
    height: 80px;
    width: 100%;
    z-index: 1000; /* Menambahkan z-index untuk memastikan di atas */
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: fit-content;
}

nav div img {
    width: 50%;
}

nav ul li a {
    color: black;
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 3px 0;
    transition: all 300ms; 
}

nav ul li a:hover {
    color: brown;
    transform: scale(1.1);
}

.main-content {
    padding: 3rem;
    max-width: 900px; 
    margin: 50px auto 0; 
    gap: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.group {
    margin-bottom: 1.5rem;
    border-radius: 10px;
    align-items: center;
    gap: 1rem;
}

.pembayaran {
    width: 100%; 
    max-width: 600px; 
    padding: 1.5rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.group h3 {
    font-size: 20px;
    font-weight: 600;
}

.bagian-bank, .bagian-norek {
    display: flex;
    border: 1.5px solid #e5e9f0;
    padding: 0.7rem;
    margin-top: 0.8rem;
    background-color: white;
    border-radius: 10px;
    width: 100%; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
}

.bagian-bank img {
    width: 20%;
    align-items: center;
}

.bagian-bank h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 650;
    padding-left: 1.2rem;
    text-align: center;
    padding-top: 5px;
}

.bagian-norek h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-left: 1rem;
    text-align: center;
}

.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 150px;
    border: 2px dashed #d1b06c;
    border-radius: 10px;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

.upload-box:hover {
    background-color: rgba(200, 178, 115, 0.1);
}

.upload-box span {
    font-size: 1.2rem;
    color: #888;
    pointer-events: none;
    z-index: 1;
    text-align: center;
    word-break: break-word;
}

.upload-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.buttons {
    margin-top: 70px;
    text-align: center;
    text-decoration: none;
    color: #4D3526;
}

.buttons:hover {
    color: #C1A57B;
}

.buttons button {
    text-align: center;
    padding: 1rem 4.5rem;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20px;
    background-color: #C8B273;
    color: #4D3526;
    border: 1px solid #8B7355;
}

.buttons button:hover {
    background-color: #4D3526;
    color: #C8B273;
    transition: 0.3ms;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    padding: 0.7rem 0;
}

.total2 {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    justify-content: space-between;
}
